In [137]:
import pandas as pd
import numpy as np

About Dataset
ID (Individual ID)

Sex (male/female).

Age ≥60 above years (true/false)

Test date (date when tested for COVID)

B. Symptoms:

Cough (true/false).

Fever (true/false).

Sore throat (true/false).

Shortness of breath (true/false).

Headache (true/false).

C. Other information:

Known contact with an individual confirmed to have COVID-19 (true/false). D. Covid report

Corona positive or negative

In [ ]:
cp_data = pd.read_csv (r'C:\Users\samya\PyCharmProject\COVID-Global-Data-Analysis\covid_dataset\corona.csv')

C:\Users\samya\AppData\Local\Temp\ipykernel_2060\1127160803.py:1: DtypeWarning: Columns (2,3,4,5,6,8) have mixed types. Specify dtype option on import or set low_memory=False.
  cp_data = pd.read_csv (r'C:\Users\samya\PyCharmProject\COVID-Global-Data-Analysis\covid_dataset\corona.csv') #country_wise_latest.csv

In [149]:
cp_data

,Ind_ID,Test_date,Cough_symptoms,Fever,Sore_throat,Shortness_of_breath,Headache,Corona,Age_60_above,Sex,Known_contact
0,1,11-03-2020,True,False,True,False,False,negative,NaN,NaN,Abroad
1,2,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
2,3,11-03-2020,False,True,False,False,False,positive,NaN,NaN,Abroad
3,4,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Abroad
4,5,11-03-2020,True,False,False,False,False,negative,NaN,NaN,Contact with confirmed
...,...,...,...,...,...,...,...,...,...,...,...
278843,278844,30-04-2020,False,False,False,False,False,positive,NaN,male,Other
278844,278845,30-04-2020,False,False,False,False,False,negative,NaN,female,Other
278845,278846,30-04-2020,False,False,False,False,False,negative,NaN,male,Other
278846,278847,30-04-2020,False,False,False,False,False,negative,NaN,male,Other
278847,278848,30-04-2020,False,False,False,False,False,negative,NaN,female,Other

In [140]:
def df_cleaning(df):
    # function to check and clean the 
    print('=============================================')
    print("Check the null value and print the summary report",df.isnull().sum())
    print('=============================================')
    print ("\nShape of the dataframe", df.shape)
    print('=============================================')
    print('Dataframe Info',df.info())
    print('=============================================')
    print("Check the null value and print the summary report",df.isnull().sum())
    print('=============================================')
    print("\nShape of the dataframe", df.shape)
    print('=============================================')
    print("\nData Types of each columns", df.dtypes)
    print('=============================================')
    print("\nColumn info\n", df.columns)
    print('=============================================')
    print('\nCheck Duplicate values in Dataframe\n', df.duplicated().sum())
    print('=============================================')
    print('\nCheck the unique values of dataframe\n', df.nunique())
    print('=============================================')

In [150]:
print("\n Dataset country_wise_latest")
df_cleaning(cp_data)

 Dataset country_wise_latest
=============================================
Check the null value and print the summary report Ind_ID                      0
Test_date                   0
Cough_symptoms            252
Fever                     252
Sore_throat                 1
Shortness_of_breath         1
Headache                    1
Corona                      0
Age_60_above           127320
Sex                     19563
Known_contact               0
dtype: int64
=============================================

Shape of the dataframe (278848, 11)
=============================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 278848 entries, 0 to 278847
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Ind_ID               278848 non-null  int64
 1   Test_date            278848 non-null  object
 2   Cough_symptoms       278596 non-null  object
 3   Fever                278596 non-null  object
 4   Sore_throat          278847 non-null  object
 5   Shortness_of_breath  278847 non-null  object
 6   Headache             278847 non-null  object
 7   Corona               278848 non-null  object
 8   Age_60_above         151528 non-null  object
 9   Sex                  259285 non-null  object
 10  Known_contact        278848 non-null  object
dtypes: int64(1), object(10)
memory usage: 23.4+ MB
Dataframe Info None
=============================================
Check the null value and print the summary report Ind_ID                      0
Test_date                   0
Cough_symptoms            252
Fever                     252
Sore_throat                 1
Shortness_of_breath         1
Headache                    1
Corona                      0
Age_60_above           127320
Sex                     19563
Known_contact               0
dtype: int64
=============================================

Shape of the dataframe (278848, 11)
=============================================

Data Types of each columns Ind_ID                  int64
Test_date              object
Cough_symptoms         object
Fever                  object
Sore_throat            object
Shortness_of_breath    object
Headache               object
Corona                 object
Age_60_above           object
Sex                    object
Known_contact          object
dtype: object
=============================================

Column info
 Index(['Ind_ID', 'Test_date', 'Cough_symptoms', 'Fever', 'Sore_throat',
       'Shortness_of_breath', 'Headache', 'Corona', 'Age_60_above', 'Sex',
       'Known_contact'],
      dtype='object')
=============================================

Check Duplicate values in Dataframe
 0
=============================================

Check the unique values of dataframe
 Ind_ID                 278848
Test_date                  51
Cough_symptoms              2
Fever                       2
Sore_throat                 2
Shortness_of_breath         2
Headache                    2
Corona                      3
Age_60_above                2
Sex                         2
Known_contact               3
dtype: int64
=============================================